<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cb5b6e46d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Home</title>
</head>
<body>
    <header>

        <div>
            <img src="/img/logo-header.svg" alt="">

            <div id="header-left-icons">
                <div >
                    <a href="#">
                        <i class="fa-solid fa-headset"></i>
                        <p>Suporte</p>
                    </a>
                    
                </div>
                <div>
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                    <p>Conta</p>
                    </a>
                    
                </div>
            </div>
        </div>
     
        
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categorias</a></li>
                <ul>
                    <li><a href="#">Feirinha</a></li>
                    <li><a> href="#"Cristais</a></li>
                    <li><a href="#">Comidas</a></li>
                </ul>
                <li><a href="#">Contato</a></li>
            </ul>

            <div>
                <input type="search" name="" id="">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div id="left-icons-nav">
                <div>
                    <a href="#">
                        <i class="fa-solid fa-heart"></i>
                        <p>Favoritos</p>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main id="products">
        <div class="product">
            <img src="/img/th-1044771937.jpg" alt="">
            <h1>Título qualquer</h1>
            <p>R$ 2,99</p>
            <a href="#">
                <button>
                    <i class="fa-solid fa-cart-shopping"></i>
                    Adicionar ao carrinho
                </button>
            </a>
        </div>
    </main>

</body>
</html>