<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <main>
        <h1>Bem-vindo de volta!</h1>
        <form method="post">
            <p>
                <label for="usuario"> Usuário:</label>
            </p>
            <p>
                <input type="text">
            </p>
            <p>
                <label for="senha">Senha: </label>
            </p>
            <p>
                <input type="senha">
            </p>
            
            <button type="submit">Login</button>
        </form>
        <p>Não possui uma conta? <a href="#">Registre-se</a></p>
    </main>

    <img src="/img/livro-login.svg" alt="">
    <div id="beige"></div>
</body>
</html>