<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Cadastre-se</title>
</head>
<body>
    <div id="containerOutside">
        <div id="round-thing"></div>
        <img src="/img/xicara-cadastro.svg" alt="">
    </div>
    <main>
        <h1>Por favor, preencha os campos abaixo!</h1>
        <form method="post">
            <p>
                <label for="nome">Nome Completo: </label>
            </p>
            <p>
                <input type="text">
            </p>
            <p>
                <label for="Nome do usuário:">Nome de usuário: </label>
            </p>
            <p>
                <input type="text">
            </p>
            <p>
                <label for="E-mail">E-mail: </label>
            </p>
            <p>
                <input type="email" name="email" id="email">
            </p>
            <p>
                <label for="senha">Senha:</label>
            </p>
            <p>
                <input type="password" name="pasword" id="password">
            </p>
            <p>
                <label for="Confirme-senha">Confirme a senha:</label>
            </p>
            <p>
                <input type="password" name="confirmSenha" id="confirmSenha">
            </p>
            <button type="submit">Cadastre-se</button>
        </form>
        <p>Já tem uma conta? <a href="#">Faça login.</a></p>
    </main>
</body>
</html>