@charset 'UTF-8';
@font-face {
    font-family: "Josefin_Sans_Medium";
    src: url("./fonts/Josefin_Sans/static/JosefinSans-Medium.ttf");
}
@font-face {
    font-family: "Josefin_Slab";
    src: url("./fonts/Josefin_Slab/static/JosefinSlab-Medium.ttf");
}

:root {
    --title: "Josefin_Sans_Medium";
    --paragraph: "Josefin_Slab";
    --green: #606C5D;
    --beige: #F7E6C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--paragraph);
}
body {
    width: 100vw;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--green);
}

li {
    list-style-type: none;
}

/****  HEADER ****/

header > div {
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div > div {
    display: flex;
    justify-content: left;
}
header img {
    width: 60vw;
    height: 9vh;
}

#header-left-icons div {
    margin: 1rem;
}

i {
    color: var(--green);
    font-family: var(--paragraph);
}

/***** NAV *****/
nav {
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 2rem;
}
nav ul ul {
    display: none;
}

nav input {
    width: 20vw;
    height: 4vh;
}

nav button {
    width: 2vw;
    height: 4vh;
}

#left-icons-nav {
    display: flex;
    margin: 0 1.5rem;
}

/* MAIN */

main {
    background-color: var(--beige);
}

.product {
    text-align: center;
    width: 290px;
    height: 440px;
    border: 1px solid black;
}



.product img {
    width: auto;
    height: 31vh;
}

.product h1 {
    font-family: var(--title);
    padding: .6rem 0;
}

.product p {
    font-size: 1.3rem;
    padding: .4rem 0;
}

.product button {
    background-color: var(--green);
    font-size: 1rem;
    color: white;
    border: none;
    padding: 0.5rem;
}

.product button i {
    color: white;
}